
    * {
      background-color: #123;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: 300;
      font-style: italic;
      color: white;;
    }
    html, body {
        
      background-color: #123;
      font-family: sans-serif;
      font-size: 14px;
      font-weight: 300;
      font-style: italic;
      color: white;;
    }